<html>

  <head>
    <style>
      .nav { height: 80px; width: 100%; background-color: rgb(211, 211, 255);
      text-align: center; padding-top: 10px; } .title { color: rgb(88, 88, 88);
      font-size: 28px; } .name { font-size: 20px; color: rgb(148, 148, 255); }
      .success { color: green; text-decoration: underline;}
    </style>
  </head>

  <body>
    <div class="nav">
      <h1 class="title">PI NOTICE</h1>
    </div>
    <h2 class="name">Hi {{name}},</h2>
    <p>Your password has been changed
      <strong class="success">Successfully</strong>
    </p>
  </body>

</html>