<html>
  <head>

    <style></style>
  </head>
  <body>
    <h2>Hi {{name}},</h2>
    <p>Thank you fo choosing our website,</p>
    <p>
      You have successfully booked to one of our events,
      <br />
      You can find, attached to this mail, your booking ticket
    </p>
  </body>
</html>