<html>
  <head>
    <style>
      .nav {
        height: 80px;
        width: 100%;
        background-color: rgb(211, 211, 255);
        text-align: center;
        padding-top: 10px;
      }
      .title {
        color: rgb(88, 88, 88);
        font-size: 28px;
      }
      .name {
        font-size: 20px;
        color: rgb(148, 148, 255);
      }
    </style>
  </head>
  <body>
    <div class="nav">
      <h1 class="title">EVENT CODE</h1>
    </div>
    <h2 class="name">Hi {{name}},</h2>
    <p>Thank you fo choosing our website,</p>
    <p>
      You have successfully booked to one of our events,
      <br />
      You can find, attached to this mail, your booking ticket
    </p>
  </body>
</html>
